Source: ros-noetic-dbw-polaris
Section: misc
Priority: optional
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://dataspeedinc.com
Standards-Version: 3.9.2

Package: ros-noetic-dbw-polaris
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dbw-polaris-can, ros-noetic-dbw-polaris-description, ros-noetic-dbw-polaris-joystick-demo, ros-noetic-dbw-polaris-msgs
Description: Drive-by-wire interface to the Dataspeed Inc.
 Polaris GEM/Ranger/RZR DBW kit
